<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FQuote</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">FQuote</h2>
        </div>

        <div class="menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/user/userProfile">PROFILE</a></li>
            <li><a href="/user/fuelQuoteForm">FUEL QUOTE</a></li>
            <li><a href="/user/fuelQuoteHistory">HISTORY</a></li>          
          </ul>
        </div>
      </div> 

        <%- body %> 

    </div>
  </body>
</html>