<form action = "/signup" class = "create" method = "POST">
  <h2 class="accTitle">Account Creation</h2>
  <input type="username" id = "username" name="username" placeholder="Username" required autofocus>
  <input type="password" id = "password" name="password" placeholder="Password" required>
  <button class="btnC" type = "submit"><a>Create Account</a></button>
  <p class="llink">Already have an account?<br>
  <a href="login">Login</a></p>
</form>