<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FQuote</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">FQuote</h2>
        </div>

        <div class="menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/fuelQuoteForm">FUEL QUOTE</a></li>
            <li><a href="/fuelQuoteHistory">HISTORY</a></li>
            
            <form action="/logout?_method=DELETE" method="POST">
            <li><button class="logOut">Log Out</button>
            </form>
          </ul>
        </div>
      </div>
      
      <div class="content">
        <h1>Fuel Quote & <br><span>Prediction</span> <br>Software</h1>
        <p class="par">a software application that will predict the rate of fuel</p>
      </div>

    </div>
  </body>
</html>